body::-webkit-scrollbar{
    display: none;
  }
  
  .tabbed-content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .tab-buttons {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      width: 60%;
      justify-content: center;
    }
    
    .tab-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }
  
    table td h4,
  table td p {
    text-align: center;
    margin: 0;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
  }
  
  table {
    table-layout: fixed;
    margin: auto;
    border-collapse: collapse;
  }
  
    button{
      margin-right:15px;
      font-size:20px;
      background:transparent;
      border:none;
      outline:none;
      padding:10px 20px ;
      cursor:pointer;
      color:rgb(255, 255, 255);
      transition:all ease-in-out .2s;
      border-bottom:2px solid transparent;
      
    }
    .active{
      border-bottom:2px solid #42b3f4;
      color:#42b3f4;
    }
  
    .tab {
      width: 95%;
    }
  
    hr {
      border: 3px solid #42b3f4;
      border-radius: 50px;
      width: 80%;
    }
  
    .mapsul {
      list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
  
    .mapsli {
      border: 1px solid #ddd;
        padding: 10px;
    }
    
    #box {
      background: rgba(255, 255, 255, .15);
      padding: 10px;
      position: relative;
      z-index: 1;
      border-radius: 10px;
      overflow: hidden;
      align-items: center;
      justify-content: center;
    }
    
    #box::before {
      content: '';
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      background: rgba(255, 255, 255, .15);
      border-radius: 10px;
      z-index: -1;
      backdrop-filter: blur(5px);
    }
    
    .border {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 3px solid #42b3f4;
      border-radius: 10px;
      width: 100%;
      text-align: center;
      z-index: 1;
    }
  
    @media (min-width: 768px) {
      .tabbed-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
      }
  
      .tab-buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 20px;
        width: 60%;
        justify-content: space-between;
      }
    }
