.flexbox {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}

.ajutine {
  color: white;
  font-size: 150%;
  flex: 1;
  margin-left: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

#boxstream {
  background: rgba(255, 255, 255, .15);
  padding: 10px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
}